/* custom_admin.css */
#header {
    background-color: #1f2937;
}

#header h1 a {
    color: #ffffff;
}

.module h2 {
    background: #3b82f6;
}
body {
    background: #111827;
}

#content {
    background: #1f2937;
    color: white;
}

